.header {
  height: 6rem;
  font-size: 1.6rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #131921;
  position: sticky;
  top: 0;
  z-index: 100;
}
.header__logo-box {
  display: flex;
  align-items: center;
}

.header__logo {
  width: 10rem;
  object-fit: contain;
  margin: 1.8rem 2rem 0;
}

.nav-logo-locale {
  color: #fff;
  margin: 0 1.6rem 0 -2rem;
}

.header__search {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 2.4rem;
}

.header__searchInput {
  height: 1.8rem;
  padding: 1rem;
  border: none;
  width: 100%;
  border-radius: 2px 0 0 2px;
}

.header__searchIcon {
  padding: 0.5rem;
  width: 2.8rem !important;
  height: 2.8rem !important;
  background-color: #febd69;
  border-radius: 0 2px 2px 0;
}

.header__optionLineOne {
  font-size: 1.2rem;
  font-weight: 400;
}

.header__optionLineTwo {
  font-size: 1.4rem;
  font-weight: 700;
}

.header__nav {
  margin: 0 2rem;
  display: flex;
  justify-content: space-evenly;
}

.header__option {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 1rem;
  color: #fff;
}

.header__optionBasket {
  display: flex;
  align-items: center;
  color: #fff;
}

.header__basketCount {
  margin: 0 1rem;
}
